<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Model.Fusion.csdl|res://*/Model.Fusion.ssdl|res://*/Model.Fusion.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\src\fusion\bin\Debug\fusion.s3db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>